<%- include("partials/header.ejs") -%>

<% blogData.forEach(element => { %>
    <h1> <%= element.title %> </h1>
    <p> <%= element.body.substring(0,100)+" ... " %>
        <a href="/post/<%=element.title%>">Read More</a>
    </p>
<% }); %>

<%- include("partials/footer.ejs") -%> 